/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */




  .card {
    background-color: #b1d5e8;
    border: none;
    color: black;
    padding: 20px;
    /* width: 350px; */
    border-radius: 0;
  }
  
  .card:nth-child(odd) {
    background-color: black;
    color: #efeff0;
  }
  
  
  
  
  